<!DOCTYPE html>

{% extends 'base_patient.html' %}
{% load static %}

<body>
{% block base_head %}


<section class="page-title text-center" style="background-image:url('/static/images/background/3.jpg');">
    <div class="container">
        <div class="title-text">
            <h1>about us</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="index-2.html">home</a>
                </li>
                <li>about us</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Our Story -->
<section class="story">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/services/service-one.jpeg' %}" class="responsive" alt="story" style="height:600px;">
            </div>
            <div class="col-md-6">
                <div class="story-content">
                    <h2>Our Story</h2>
                    <h5 class="tagline">"Strengthen the <b>BODY</b><br>Empower the <b>MIND</b><br>Transform the <b>SOUL</b>."</h5>
                    <p>Physiotherapy is recognised as an essential part of mordern health care, and a leading method in optimising  your recovery and healing process.</p>
                    <p>Physiotherapy has a very wide range of services that can cater to many people's health care needs.</p>
                    <h6>Mission</h6>
                    <ul>
                        <li>Reduce aches and pains</li>
                        <li>Rehabilitate sporting injuries</li>
                        <li>Optimise recovery after surgery</li>
                        <li>Assist in improving cardiorespiratory health</li>
                        <li>Get back on your feet after body fractures</li>
                        <li>Provide care to women during </li>
                        <li>and much more </li>
                    </ul>
                    <h6>Vision</h6>
                    <p>To be a world class provider of quality physiotherapy services for all and the community recognizes the benefit of choosing physiotherapy.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Promo Video -->
<section class="promo-video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block text-center">
                    <h6>About Our Site</h6>
                    <h1>The World <br>
                        Class Physiotherapy
                    </h1>
                    <a data-fancybox href="https://www.https://www.youtube.com/watch?v=mZv1RhlwdSY&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3>Collected Shots
                        <span>of Our physiotherapy</span>
                    </h3>
<!--                    <p>Leverage agile frameworks to provide a robust synopsis for high level overv- -->
<!--                        <br>iews. Iterative approaches to corporate strategy...</p>-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img style="height:250px;" src="{% static 'images/gallery/gallery-01.jpg' %}" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="{% static 'images/gallery/gallery-01.jpg' %}"></a>
<!--                    <h3>Facility 01</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img style="height:250px;" src="{% static 'images/gallery/gallery-02.jpg' %}" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="{% static 'images/gallery/gallery-02.jpg' %}"></a>
<!--                    <h3>Facility 02</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img style="height:250px;" src="{% static 'images/gallery/gallery-03.jpg' %}" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="{% static 'images/gallery/gallery-03.jpg' %}"></a>
<!--                    <h3>Facility 03</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img style="height:250px;" src="{% static 'images/gallery/gallery-04.jpg' %}" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="{% static 'images/gallery/gallery-04.jpg' %}"></a>
<!--                    <h3>Facility 04</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img style="height:250px;" src="{% static 'images/gallery/gallery-05.jpg' %}" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="{% static 'images/gallery/gallery-05.jpg' %}"></a>
<!--                    <h3>Facility 05</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>-->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img style="height:250px;" src="{% static 'images/gallery/gallery-06.jpg' %}" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="{% static 'images/gallery/gallery-06.jpg' %}"></a>
<!--                    <h3>Facility 06</h3>-->
<!--                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, in.</p>-->
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock %}
</body>


<!-- Mirrored from demo.themefisher.com/themefisher/medic/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 30 Jan 2020 22:36:10 GMT -->
</html>